@media screen and (max-width:768px) {
    .navbar-brand i {
        font-size: 30px;
        margin-top: 0px;
    }
    .navbar-brand img {
        width: 50px;
        height: 48px;
    }
    header img {
        margin-top: 0px;
    }
    footer {
        font-size: 12px;
    }
    .jumbotron {
        margin: 0;
        width: 100%;
        padding-top: 1rem;
        height: auto;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    }
    .box {
        margin-top: 1.5rem;
    }
    .category-header {
        font-size: 25px;
    }
    .dashlist {
        width: 100%;
        align-items: center;
        justify-content: space-around;
        margin-bottom: 1rem;
        height: auto;
    }
    .stats {
        width: 100%;
    }
    .card {
        margin-bottom: 2rem;
    }
    .jumbotron .form {
        width: 100%;
    }
}