* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background-color: rgba(77, 93, 174, 1) !important;
    position: relative;
    min-height: 100%;
    margin: 0;
    position: relative;
    margin: 0;
    padding: 0;
    padding-bottom: 60px;
}

header {
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}

header img {
    border-radius: 50%;
    margin-top: 13px;
}

.navbar-brand i {
    color: rgba(255, 173, 10, 1);
    font-weight: bold;
    font-size: 60px;
}


/* ---NAVBAR--- */

.navbar {
    background-color: rgb(45, 0, 151);
}


/* nav {} */

nav .collapse {
    justify-content: center;
}

.icon-home {
    text-decoration: none;
}

.icon-home .item {
    font-size: 25px;
    color: white;
    transition: 0.2s;
}

.icon-home .item:hover {
    color: rgb(7, 163, 7);
}

.navbar-nav {
    width: 98%;
    justify-content: center;
}

.navbar-nav a {
    text-decoration: none;
    transition-duration: 0.4s;
    border-radius: 5px;
}

.navbar-nav a:hover {
    background-color: green;
    /* Green */
    color: black;
}

a {
    color: white;
}

.logout {
    border-radius: 5px;
    transition: 0.30s;
}

.logout:hover {
    border-radius: 5px;
    background-color: green;
}

.box {
    height: auto;
}

.jumbotron {
    margin: 35px;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}


/* ---FOOTER--- */

footer {
    background-color: #2e2e2e;
    color: white;
    bottom: 0;
    width: 100%;
    position: absolute;
}


/* ---PRODUCT--- */

.buyprice {
    background-color: grey;
    box-shadow: inset -1px 0px 5px 0px black;
}


/* --DASHBOARD --*/

.dashboard-page {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.dashlist {
    display: flex;
    flex-direction: column;
    width: 50%;
    text-decoration: none;
    justify-content: space-around;
}

.card {
    display: flex;
    justify-content: center;
    width: 15rem;
    height: 5rem;
    text-align: center;
    color: rgb(83, 81, 81);
    transition: 0.30s;
    font-size: 20px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

.card:hover {
    text-decoration: unset;
    color: rgb(253, 252, 252);
    background-color: rgb(167, 167, 167);
}

.stats {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background: white;
    border-radius: 5px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    border: 1px solid rgb(221, 219, 219);
}

.stats-results {
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: space-between;
    margin: 0.5rem;
}

.title-stats {
    display: flex;
    flex-direction: column;
}

.result-stats {
    display: flex;
    flex-direction: column;
}


/* --CREATE GAME --*/

form {
    margin-left: 0px;
}

form button {
    margin-top: 1rem;
}


/* --MEMBERS LIST --*/

.membersList-page {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.members-title {
    margin-bottom: 50px;
}

.title-list th {
    font-size: 20px;
    padding-bottom: 20px;
}

.follow a {
    text-decoration: none;
    color: rgb(5, 109, 194);
    transition: 0.7s;
}

.follow a:hover {
    color: rgb(5, 74, 223);
}

.jumbotron .form {
    width: 50%;
}