* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

li {
    list-style-type: none;
}

body {
    background-color: rgba(77, 93, 174, 1) !important;
    position: relative;
    min-height: 100%;
    margin: 0;
    position: relative;
    margin: 0;
    padding: 0;
    padding-bottom: 60px;
}

header {
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}

header img {
    border-radius: 50%;
    margin-top: 13px;
}

.navbar-brand i {
    color: rgba(255, 173, 10, 1);
    font-weight: bold;
    font-size: 60px;
}


/* ---NAVBAR--- */

.navbar {
    background-color: rgb(45, 0, 151);
}


/* nav {} */

nav .collapse {
    justify-content: center;
}

.icon-home {
    text-decoration: none;
    margin-right: 7rem;
}

.icon-home .item {
    font-size: 25px;
    color: white;
    transition: 0.2s;
}

.icon-home .item:hover {
    color: rgb(7, 163, 7);
}

.cart-nav {
    display: flex;
}

.cart-nav a {
    display: flex;
    align-items: center;
    transition: 0.2s;
}

.cart-nav a i {
    /* margin-left: 10px; */
    align-items: center;
}

.cart-count {
    display: inline-block;
    background-color: #FFD94D;
    color: #212121;
    border-radius: 50%;
    font-size: 14px;
    line-height: 0;
}

.cart-count span {
    display: inline-block;
    padding-top: 50%;
    padding-bottom: 50%;
    margin-left: 6px;
    margin-right: 6px;
}

.navbar-nav {
    width: 80%;
    justify-content: center;
}

.navbar .navbar-nav {
    /* margin: auto; */
    padding-left: 15rem;
}

.navbar .account-item {
    display: flex;
    flex-direction: row;
    width: auto;
    height: 100%;
    align-items: center;
}

.navbar .account-item a {
    text-decoration: none;
    /* color: white; */
}

.navbar .account-item>* {
    transition: 0.3s;
}

.navbar .account-item a:hover {
    background-color: green;
    color: white;
    border-radius: 5px;
}


/*----Connect----*/

.navbar .connect {
    display: flex;
    flex-direction: row;
    width: auto;
    height: 100%;
    align-items: center;
}

.navbar .connect a {
    text-decoration: none;
    color: white;
}

.navbar .connect>* {
    transition: 0.3s;
}

.navbar .connect a:hover {
    background-color: green;
    color: white;
    border-radius: 5px;
}


/*---------------*/

.navbar-nav a {
    text-decoration: none;
    transition-duration: 0.4s;
    border-radius: 5px;
}

.navbar-nav a:hover {
    background-color: green;
    /* Green */
    color: black;
}

a {
    color: white;
}

.box {
    height: auto;
}

.jumbotron {
    border-radius: 0 !important;
    margin: 35px;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}


/* ---FOOTER--- */

footer {
    background-color: #2e2e2e;
    color: white;
    bottom: 0;
    width: 100%;
    position: absolute;
    padding: 0.5rem;
    font-size: 14px;
}

.footer .text {
    display: flex;
    flex-direction: column;
}

.footer .text span {
    padding: 2rem;
}


/* ---HOME--- */

.category-box {
    width: 100%;
    border-left: solid 2px black;
    padding: 10px;
}

.product-pagination-box {
    display: flex;
    width: 100%;
    justify-content: center;
}

.product-container {
    margin: 30px;
    /* width: 80%; */
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.product {
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    padding: 20px 0 1px 0;
    float: left;
    width: 235px;
    margin-right: 2rem;
    margin-bottom: 2rem;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.product p{
    text-align: center;
}

.product a {
    text-decoration: none;
    color: black;
}

.product a:hover {
    text-decoration: none;
    color: rgb(97, 96, 96);
}

.productHeader {
    padding: 0 15px 20px;
    height: 241px;
}

.productHeader a {
    height: 200px;
    width: 100%;
    line-height: 200px;
}

.card {
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

.card-body {
    padding: 4px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.card-body p .card-text {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}


.price-container {
    border-top: 1px solid #dbdbdb;
    padding-top: 5px;
    text-align: left;
}

.note {
    display: flex;
    justify-content: center;
}

.jumbotron .main-card {
    margin: 10px;
}


/* ---PRODUCT PAGE & IMAGE--- */

.product-page {
    width: 100%;
    display: flex;
}

.product-img {
    width: 20%;
    margin-right: 20px;
}

.product-img img {
    width: 100%;
    height: auto;
}


/* ---PRODUCT DETAILS & PRICE--- */

.box-product {
    width: 100%;
}

.details-product {
    width: 100%;
}

.card {
    margin-bottom: 20px;
    border-radius: 10px !important;
}

.dispo {
    width: 40%;
    font-size: 30px;
}

.buypricebox {
    display: flex;
    flex-wrap: wrap;
}

.buyprice {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    font-size: 30px;
}

.buyprice a {
    font-size: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-left: 10px;
    padding-right: 16px;
}

.buyprice form button {
    font-size: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-left: 10px;
    padding-right: 16px;
    background: none;
}

.buyprice form button i {
    margin-right: 20px;
}

.buyprice a i {
    margin-right: 20px;
    display: flex;
    align-items: right;
    justify-content: right;
    font-size: 20px;
}

.buyprice a {
    font-size: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.buyprice .price {
    margin-left: 10px;
    align-items: center;
    display: flex;
}

.release {
    width: 100%;
    align-items: center;
}

.box-release-buy {
    display: flex;
    align-items: center;
    width: 100%;
}


/* ---PRODUCT REVIEW--- */

.box-review {
    display: flex;
    flex-direction: row;
    padding: 20px;
    background-color: #A2A0A0;
    border-radius: 10px;
    margin-bottom: 20px;
    justify-content: center;
}

.box-review .card {
    border-radius: 20px;
    margin: 10px;
}


/* ---CART GEN--- */

.cart-page {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.cart-details {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}


/* ---CART DETAILS--- */

.cart-page .card {
    display: flex;
    align-content: center;
    flex-direction: column;
    padding: 20px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    width: 50%;
    margin: 0;
    font-size: 14px;
}

.cart-page h2 {
    margin-bottom: 60px;
}

.cart-img {
    width: 12%;
    margin-right: 20px;
    display: flex;
}

.cart-img img {
    width: 100%;
    height: auto;
}

.top-box {
    display: flex;
    justify-content: space-between;
}

.top-box .delete-img {
    width: 40px;
}

.top-box .delete-img button {
    border: none;
    background: white;
}

.top-box .delete-img img {
    width: 100%;
    height: auto;
}

.bottom-box {
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.cart-price {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.cart-item-price {
    background-color: #5c5c5c;
    border: solid white;
    border-radius: 10px;
    padding: 5px;
}

.cart-price span {
    font-size: 20px;
    color: white;
}

.cart-price select {
    border: 1px solid #919191;
    padding: 4px 12px;
    margin-right: 15px;
}


/* ---CART PAYEMENT--- */

.box-total {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 50px;
}

.box-payement {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 20px;
}

.box-payement a {
    margin: 10px;
}

.cart-total {
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
    padding: 20px;
}

.cart-totals-total {
    font-weight: bold;
    font-size: 22px;
    line-height: 2;
}

.cart-total-subtotal {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: flex-end;
}

.total {
    font-size: 30px;
    margin-right: 40px;
}

.payement {
    margin-right: 40px;
}

.payement a {
    font-size: 20px;
}

.payement button {
    background-color: #ff5400;
    border-color: #ff5400;
    color: white;
}


/* ---LOGIN--- */

.log-page {
    width: 100%;
}

form {
    font-size: 20px;
}

.account {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}

.login span {
    margin: 10px;
    font-size: 20px;
}

.email {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.email input {
    border-radius: 10px;
    width: 300px;
    padding: 5px;
}

.password {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    align-items: center;
}

.password input {
    border-radius: 10px;
    width: 300px;
    padding: 5px;
}

.connexion {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.connexion input {
    background-color: #ff5400;
    border-color: none !important;
    font-size: 20px;
    color: white;
    border-radius: 10px;
    font-weight: bold;
}

.signup {
    display: flex;
    justify-content: flex-end;
}

.signup input {
    background-color: #0FB536;
    border-color: none !important;
    font-size: 20px;
    color: white;
    border-radius: 10px;
    width: 125px;
    padding: 2px;
}


/* ---MY ACCOUNT--- */

.account-page {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.account h1 {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    ;
}

.account-details {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}

.edit-cash {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 100px;
    align-items: center;
}

.edit {
    display: flex;
    justify-content: flex-start;
    font-size: 20px;
}

.cash {
    font-size: 30px;
    border: solid rgb(189, 195, 199);
    border-radius: 30px;
    padding: 10px;
}


/*----------TEMPLATE MEMBERS-------------*/


/*-------------Gamelist------------------- */

.table-gamelist thead th {
    border: 1px solid black;
}


/*-----THANKYOU------*/

.thank-you-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex: 1;
}

.thanks {
    display: flex;
    flex-direction: column;
}

.thank-you-section h1 {
    margin-bottom: 10px;
}

.thank-you-section a {
    text-decoration: none;
    border: 1px solid #212121;
    padding: 12px 40px;
}

.backhome {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}


/* checkout */

.label-card {
    font-size: 20px;
}

.checkout-page {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.checkout-page h1 {
    margin-top: 40px;
}

.checkout-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    margin: 40px auto 80px;
}

.checkout-table-container {
    margin-left: 124px;
}

h2 {
    margin-top: 20px;
    margin-bottom: 30px;
}

.checkout-table-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid rgb(171, 183, 183);
    padding: 14px 0;
}

.checkout-table-row:last-child {
    border-bottom: 2px solid rgb(171, 183, 183);
}

.checkout-table-row-left,
.checkout-table-row-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.checkout-table-row-left {
    width: 75%;
}

.checkout-table-img {
    max-height: 12rem;
}

.checkout-table-description {
    color: rgb(171, 183, 183);
}

.checkout-table-price {
    padding-top: 6px;
}

.checkout-table-quantity {
    border: 2px solid rgb(171, 183, 183);
    padding: 4px 12px;
    margin-right: 5px;
}

.checkout-totals {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid rgb(171, 183, 183);
    padding: 18px 0;
    line-height: 2;
}

.checkout-totals-right {
    text-align: right;
}

.checkout-totals-total {
    font-weight: bold;
    font-size: 22px;
    line-height: 2.2;
}


/* ---- COUPONS ----- */

.coupon-container {
    display: flex;
    flex-direction: column;
}

.have-code {
    display: block;
    margin: 14px 0;
    text-align: left;
}

.have-code-container form {
    display: flex;
    justify-content: space-between;
    border: 1px solid #919191;
    padding: 16px;
    width: 100%;
    margin-left: auto;
}

.have-code-container input[type=text] {
    width: 70%;
    padding: 10px;
    font-size: 16px;
}

.have-code-container input[type=submit] {
    background: white;
    border: 1px solid #919191;
    padding-top: 8px;
    padding-bottom: 8px;
}

.have-code-container input[type=submit]:hover {
    background: #212121;
}