@media screen and (max-width:767px) {
    .head {
        width: 100%;
        justify-content: center;
        margin-bottom: 2rem;
    }
    .header {
        justify-content: center;
        margin-bottom: 2rem;
    }
    .container {
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    .btn-group {
        font-size: 10px;
    }
    .head-item {
        margin: 0;
        font-size: 20px;
    }
    .content {
        width: 100%;
        padding: 0;
    }
    .card-content {
        width: fit-content;
        margin-bottom: 1.5rem;
    }
    .card-title {
        text-align: center;
        font-size: 20px;
    }
    .card-text {
        font-size: 16px;
    }
    .link {
        width: 100%;
        margin-right: 2rem;
    }
    label {
        width: 100%;
    }
    .my-profile input {
        width: 100%;
    }
    .my-profile form {
        margin-bottom: 2rem;
    }
    .my-profile .my-profile-button {
        font-size: 14px;
    }
    .link button {
        font-size: 12px;
    }
}