main {
    width: 100%;
}

.container {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

.image_outer_container {
    border-radius: 50%;
    position: relative;
}

.head {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.head-item {
    display: flex;
    align-items: center;
    font-size: 40px;
    margin-left: 3rem;
    text-align: center;
}

.image_inner_container {
    border-radius: 50%;
    padding: 5px;
    background: #833ab4;
    background: -webkit-linear-gradient(to bottom, #fcb045, #fd1d1d, #833ab4);
    background: linear-gradient(to bottom, #fcb045, #fd1d1d, #833ab4);
}

.image_inner_container img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 5px solid white;
}

.image_outer_container .green_icon {
    background-color: #4cd137;
    position: absolute;
    right: 30px;
    bottom: 10px;
    height: 30px;
    width: 30px;
    border: 5px solid white;
    border-radius: 50%;
}

.content {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 2rem;
    height: auto;
    align-items: left;
}

.card {
    height: fit-content;
}

.card>* {
    transition: 0.3s;
}

.card>*:hover {
    background-color: #dfe2de;
}

.card a {
    border-radius: 8px;
}

.card a {
    text-decoration: none;
    color: rgb(100, 96, 96);
}

.card-title {
    padding-left: 12px;
}

.card-text {
    padding-left: 12px;
}

.card-content {
    display: flex;
    align-items: center;
    width: 44%;
}

.link {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    text-decoration: none;
}

.link a {
    text-decoration: none;
}


/* ---- MY ORDERS ---- */

.myorders-box {
    width: 100%;
}

.pagination {
    width: 100%;
}

.inner-group {
    display: flex;
    justify-content: center;
    margin-top: 70px;
    flex-direction: column;
    align-items: center;
}

.order-group {
    margin-bottom: 14px;
    font-size: 13px;
    width: 50%;
}

.box-inner-info {
    padding: 14px 18px;
    display: flex;
    flex-direction: row;
}

.box-inner-content {
    padding: 14px 18px;
    display: flex;
    flex-direction: column;
}

.info2 {
    display: flex;
    width: 65%;
    flex-direction: column;
    align-items: flex-end
}

.order-group {
    border: 1px #ddd solid;
    font-size: 20px;
    width: 50%;
}

.order-group .order-info {
    border-radius: 4px 4px 0 0;
    margin-top: 0;
    background-color: #f6f6f6;
    border: 1px #ddd solid;
}

.order-group .order-info .box-inner {
    border-radius: 4px 4px 0 0;
}

.platform {
    font-size: 20px;
    color: #545454;
}

.order-img {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 10px;
}

.order-img img {
    width: 30%;
}


/* MY ORDER */

.bottom-order {
    margin-top: 15px;
}

/* ---------------- */

.my-profile form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.my-profile .form-control {
    margin-bottom: 30px;
}

label {
    width: 40%;
}

.my-profile input {
    border: 1px solid #919191;
    padding: 16px 10px;
    margin: 0.5rem;
    border-radius: 5px;
    width: 40%;
    font-size: 16px;
}

.my-profile .my-profile-button {
    background: #212121;
    width: fit-content;
    color: #e9e9e9;
    border-radius: 5px;
    padding: 12px 50px;
    font-size: 15px;
    margin-top: 1rem;
    margin-left: 0.5rem;
    transition: 0.3s;
}

.my-profile .my-profile-button:hover {
    background: #5e615e;
}

.hello {
    display: flex;
    justify-content: center;
}

.info2 {
    justify-content: center;
}

.inner-group {
    width: 100%;
    margin: 0 auto;
}

.order-group {
    width: 100%;
    margin-top: 3rem;
}

.orders-page{
    width:50%;
}
.table {
    width: 100%;
}

table tbody {
    width: 100%;
}

table tbody tr td {
    width: 50%;
}

.slug-item {
    margin-left: 2rem;
}