@media screen and (max-width:767px) {
    /* navbar */
    .navbar-brand i {
        font-size: 30px;
        margin-top: 0px;
    }
    .navbar-brand img {
        width: 50px;
        height: 48px;
    }
    header img {
        margin-top: 0px;
    }
    .icon-home {
        text-align: center;
        margin: 0;
    }
    .navbar-nav {
        width: 100%;
        text-align: center;
    }
    /* footer */
    .footer {
        font-size: 10px;
    }
    /* jumbotron */
    .jumbotron {
        margin: 0;
        width: 100%;
        padding: 0;
        height: auto;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    }
    .box {
        margin-top: 1.5rem;
    }
    /* product */
    .category-header {
        font-size: 25px;
    }
    .product {
        width: 45%;
        margin-right: 10px;
        height: fit-content;
        padding: 0;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    }
    .productHeader {
        padding: 0;
        height: auto;
    }
    .product .card-body {
        padding: 0;
        font-size: 13px;
    }
    .product .card-body .card-text {
        margin: 2px;
    }
    .product-page {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .product-img {
        width: 50%;
        margin: 0 auto;
    }
    .product-img img {
        width: 100%;
        height: 100%;
    }
    .box-product {
        margin-top: 1rem;
        width: 100%;
    }
    .card-header {
        font-size: 15px;
    }
    .card .card-body {
        font-size: 12px;
    }
    .buyprice .dispo {
        width: fit-content;
        font-size: 20px;
    }
    .card .buyprice {
        font-size: 15px;
        margin-top: 1rem;
    }
    .card .buyprice form button {
        font-size: 15px
    }
    .avis .card-title {
        font-size: 14px;
        text-align: center;
    }
    /* cart */
    .cart-page h1 {
        font-size: 20px;
    }
    .cart-page h2 {
        font-size: 15px;
        margin-bottom: 25px;
    }
    .cart-details {
        flex-direction: column;
    }
    .cart-img {
        width: 100%;
        justify-content: center;
        display: flex;
        margin-bottom: 2rem;
    }
    .cart-img a {
        width: 40%;
    }
    .cart-page .card {
        width: 100%;
        font-size: 14px;
    }
    .cart-page .top-box {
        height: 3rem;
    }
    .cart-page .top-box .title {
        font-size: 10px;
        margin-top: 10px;
        height: 0;
    }
    .cart-page .top-box .delete-img {
        width: 35px;
        height: 0;
    }
    .cart-price .quantity {
        font-size: 12px;
    }
    .cart-item-price span {
        font-size: 12px;
    }
    .box-total {
        margin: 0;
    }
    .cart-total {
        margin: 0;
        font-size: 13px;
    }
    .cart-total span {
        font-size: 15px;
    }
    .box-payement {
        margin-top: 0;
    }
    .box-payement a {
        font-size: 11px;
    }
    /* checkout */
    .checkout-section {
        display: flex;
        flex-direction: column-reverse;
        margin-top: 3rem;
        /* margin: 0 auto; */
    }
    .checkout-table-container {
        margin: 0 auto;
        width: 100%;
        margin-bottom: 3rem;
    }
    .checkout-page h1 {
        margin: 0;
        font-size: 30px;
        text-align: center;
    }
    .checkout-table {
        font-size: 13px;
    }
    .checkout-table-row-left img {
        width: 100px;
    }
    .checkout-totals span {
        font-size: 15px;
    }
    .have-code-container button {
        font-size: 12px;
    }
    .checkout-section h2 {
        font-size: 20px;
    }
    .checkout-section form {
        font-size: 14px;
    }
    .label-card {
        font-size: 14px;
    }
    .btn {
        font-size: 14px;
    }
    .reglement {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .reglement a {
        font-size: 14px;
        width: fit-content;
    }
    .container {
        padding: 0;
        margin: 0;
    }
}