.search {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.follow a {
    text-decoration: none;
    color: rgb(5, 109, 194);
    transition: 0.7s;
}

.follow a:hover {
    color: rgb(5, 74, 223);
}

.link a {
    text-decoration: none;
    transition: 0.5s;
    color: rgb(5, 109, 194);
}

.link a:hover {
    color: rgb(5, 74, 223);
}